<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Address Book</title>
</head>
<body>
<a  href="/add">Add an Address</a><br />
<table>
    <tr>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>
    <tr th:each="addressBook : ${addresses}">
        <td th:text="${addressBook.lastname}"></td>
        <td th:text="${addressBook.phone}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${addressBook.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${addressBook.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${addressBook.id})}">Delete</a>
        </td>
    </tr>
</table>
<br />
<form action="#"
      th:action="@{/search}"
      method="post">

    Search Last Names :<input type="text" name="searchName" />

        <br />
    <input type="submit" value="Submit" />
</form>
<form action="#"
      th:action="@{/}"
      method="post">

    <br />
    <input type="submit" value="Return to Main List" />
</form>
</body>
</html>